# ===== Build outputs =====
Debug/
Release/
*/Debug/
*/Release/
*.o
*.a
*.elf
*.map
*.lst
*.d
*.su
*.bin
*.hex

# ===== STM32CubeIDE / Eclipse =====
.metadata/
.settings/
*.launch
.project
.cproject

# ===== CubeMX generated =====
*.ioc

# ===== OS / editor =====
.DS_Store
Thumbs.db
.vscode/